Source: monitoringplug
Section: net
Priority: extra
Maintainer: Marius Rieder <marius.rieder@durchmesser.ch>
Build-Depends: debhelper (>= 7.0.50~),
               autoconf, libtool,
               lsb-release,
               pkg-config,
               bison,
               flex,
               libcurl4-gnutls-dev,
               libxmlrpc-c3-dev,
               libgnutls-dev,
               libvirt-dev,
               libcups2-dev,
               libsnmp-dev,
               libjson0-dev,
               libpq-dev,
               libselinux1-dev,
               libsmbclient-dev,
               libexpat1-dev,
               libldns-dev, ldnsutils,
               libmysqlclient-dev,
               liboping-dev,
               libopenipmi-dev,
               libvarnishapi-dev,
               libhiredis-dev | base-files (<= 6.1),
Standards-Version: 3.9.1
Homepage: http://svn.durchmesser.ch/trac/monitoringplug/

Package: monitoringplug
Architecture: all
Depends: ${misc:Depends}
Description: Plugin Collection for Nagios/Icinga
 Collection of monitoring plugins for Nagios and similar monitoring systems.
 All plugins are written in C and use common libraries.

Package: monitoringplug-base
Architecture: any
Depends: monitoringplug, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of basic monitoring plugins for Nagios.
 Collection of basic monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_file, check_bonding, check_mem, check_multipath, check_nrped,
  check_sockets, check_dummy_mp, check_timeout
 .
 This package provides a basic set of plugins with minimal external
 dependencies.

Package: monitoringplug-cups
Architecture: any
Depends: monitoringplug, libcups2, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of CUPS monitoring plugins for Nagios.
 Collection of CUPS monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_cups_jobs
 .
 This package provides a basic set of plugins with libcups as
 dependency.

Package: monitoringplug-curl
Architecture: any
Depends: monitoringplug, libcurl4, libjson0, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of libcurl monitoring plugins for Nagios.
 Collection of basic monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_apache_status, check_aspsms_credits, check_buildbot_slave, check_tftp,
  check_webdav
 .
 This package provides a basic set of plugins with libcurl as
 dependency.

Package: monitoringplug-dns
Architecture: any
Depends: monitoringplug, libldns1, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of DNS monitoring plugins for Nagios.
 Collection of DNS monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_dnssec_expiration, check_dnssec_trace, check_dnssec_trust_anchor,
  check_dns_sync
 .
 This package provides a basic set of plugins with ldns as
 dependency.

Package: monitoringplug-gnutls
Architecture: any
Depends: monitoringplug, libgnutls26, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of GnuTLS monitoring plugins for Nagios.
 Collection of GnuTLS monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_ssl_cert
 .
 This package provides a basic set of plugins with GnuTLS as
 dependency.

Package: monitoringplug-ipmi
Architecture: any
Depends: monitoringplug, libopenipmi0, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of IPMI monitoring plugins for Nagios.
 Collection of IPMI monitoring plugins for Nagios using OpenIPMI library.
 It contains the following plugins:
 .
  check_ipmi_mem, check_ipmi_psu, check_ipmi_sensor
 .
 This package provides a basic set of plugins with OpenIPMI as
 dependency.

Package: monitoringplug-ldap
Architecture: any
Depends: monitoringplug, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of IPMI monitoring plugins for Nagios.
 Collection of LDAP monitoring plugins for Nagios using OpenLDAP library.
 It contains the following plugins:
 .
  check_ldap, check_ldap_replication
 .
 This package provides a basic set of plugins with OpenLDAP as
 dependency.

Package: monitoringplug-libvirt
Architecture: any
Depends: monitoringplug, libvirt0, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of libvirt monitoring plugins for Nagios.
 Collection of libvirt monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_libvirtd, check_libvirt_domain
 .
 This package provides a basic set of plugins with libvirt as
 dependency.

Package: monitoringplug-mysql
Architecture: any
Depends: monitoringplug, libmysqlclient16, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of MySQL monitoring plugins for Nagios.
 Collection of MySQL monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_mysql, check_mysql_rows
 .
 This package provides a basic set of plugins with libmysqlclient as
 dependency.

Package: monitoringplug-oping
Architecture: any
Depends: monitoringplug, liboping0, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of MySQL monitoring plugins for Nagios.
 Collection of MySQL monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_oping
 .
 This package provides a basic set of plugins with liboping as dependency.

Package: monitoringplug-postgresql
Architecture: any
Depends: monitoringplug, libpq5, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of PostgreSQL monitoring plugins for Nagios.
 Collection of PostgreSQL monitoring plugins for Nagios. It contains the
 following plugins:
 .
  check_pgsql, check_pgsql_slave
 .
 This package provides a basic set of plugins with libpq5 as dependency.

Package: monitoringplug-redis
Architecture: any
Depends: monitoringplug, libhiredis0
Description: Collection of Redis monitoring plugins for Nagios.
 Collection of Redis monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_clustat, check_rhcsnmp
 .
 This package provides a basic set of plugins with hiredis as dependencies.

Package: monitoringplug-rhcs
Architecture: any
Depends: monitoringplug, libsnmp15, libexpat1, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of RHCS monitoring plugins for Nagios.
 Collection of RHCS monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_clustat, check_rhcsnmp
 .
 This package provides a basic set of plugins with eXpat and net-snmp as
 dependencies.

Package: monitoringplug-rpc
Architecture: any
Depends: monitoringplug, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of RPC monitoring plugins for Nagios.
 Collection of RPC monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_nfs, check_rpc_ping
 .
 This package provides a basic set of plugins with rpcsvc as
 dependency.

Package: monitoringplug-selinux
Architecture: any
Depends: monitoringplug, libselinux1, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of SELinux monitoring plugins for Nagios.
 Collection of SELinux monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_enforce, check_sebool
 .
 This package provides a basic set of plugins with libselinux as
 dependency.

Package: monitoringplug-smb
Architecture: any
Depends: monitoringplug, libsmbclient, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of SNMP monitoring plugins for Nagios.
 Collection of SNMP monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_smb_share
 .
 This package provides a basic set of plugins with libsmbclient as
 dependency.

Package: monitoringplug-snmp
Architecture: any
Depends: monitoringplug, libsnmp15, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of SNMP monitoring plugins for Nagios.
 Collection of SNMP monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_akcp, check_apc_pdu, check_arc_raid, check_interface, check_qnap_disks,
  check_qnap_vols
 .
 This package provides a basic set of plugins with net-snmp as
 dependency.

Package: monitoringplug-varnish
Architecture: any
Depends: monitoringplug, libvarnishapi1, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of Varnish monitoring plugins for Nagios.
 Collection of Varnish monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_varnish, check_varnish_backends
 .
 This package provides a set of plugins with libvarnishapi as dependency.

Package: monitoringplug-xmlrpc
Architecture: any
Depends: monitoringplug, libxmlrpc-c3, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of xmlrpc monitoring plugins for Nagios.
 Collection of xmlrpc monitoring plugins for Nagios. It contains the following
 plugins:
 .
  check_koji_builder, check_koji_hub, check_rhn_entitlements
 .
 This package provides a basic set of plugins with xmlrpc-c as
 dependency.

Package: monitoringplug-notify
Architecture: any
Depends: monitoringplug, ${shlibs:Depends}, ${misc:Depends}
Description: Collection of notification plugins for Nagios.
 Collection of notification plugins for Nagios. It contains the following
 plugins:
 .
  notify_mail, notify_sms, notify_stdout
 .
